body {
    background-color: rgb(0, 0, 0) /*Decedir*/
    
}
nav {
    border-radius: 20px;
    border: 2px solid rgb(255, 0, 0);
    display: inline-flex;
}
nav a {
    color: red;
    padding: 10px;
    font-size: 21px;
    font-style: oblique;
}
header {
    text-align: center;
    color: red;
}
h1 {
    font-size: 50px;
    margin: 0px;
    margin-bottom: -10px;
    padding-bottom: 1px;
}
h2 {
    margin-top: 10px; /*aproxima*/
    margin-bottom: 18px; /*afasta*/
    color: red
}
h3 {
    font-size: 25px;
}
.card img{
    padding: 3px;
    border-radius: 10px;
    height: 280px;
    width: auto;
}
.navegação {
    text-align: center;
}
.destaque {
    color: red;
}
.container {
    color: white;
}
.gridCon {
    margin: 20px;
    text-align: center;
}
.contatos {
    border: 2px solid red;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#botao {
    background-color: red;
    color: black;              
    border: none;           
    padding: 10px 20px;        
    border-radius: 5px;        
    font-size: 14px;
}